body{
    background: rgb(142, 218, 176);
    margin-left: 24px;
    margin-right: 24px;
}

header{
    margin-top: 40px;
}

h1{
    background: yellow;
    font-family: fantasy;
}

h2{
    font-family: fantasy;
    font-weight: normal;
}

h3{
    color: rgb(38, 12, 187);
}

p{
    font-size: 18px;
}

img {
    margin-left: 20px;
    margin-bottom: 20px;
}

table#tabelacard{
    border: 1px solid #111010;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabelacard td{
    border: 1px solid #111010;
    padding: 10px;
    text-align: center;

}

caption{
    font-size: 24px;
   
}

table#tabelacard td.ce{

    color: #ffffff;
    background-color: #606060;

}

table#tabelacard td.cd{

    background-color: #b1aeae;

}

footer{
    Font-family: fantasy;
    margin-top: 44px;
    background: rgb(250, 247, 56);
}
