body{
    background: rgb(142, 218, 176);
    margin-left: 24px;
    margin-right: 24px;
}

header{
    margin-top: 40px;
}

h1{
    background: yellow;
    font-family: fantasy;
}

h2{
    font-family: fantasy;
    font-weight: normal;
}

h3{
    color: rgb(38, 12, 187);
}

p{
    font-size: 18px;
}

img {
    margin-left: 20px;
    margin-bottom: 20px;
}

table#tabelacard{
    border: 1px solid #111010;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabelacard td{
    border: 1px solid #111010;
    padding: 10px;
    text-align: center;

}

caption{
    font-size: 24px;
   
}

table#tabelacard td.ce{

    color: #ffffff;
    background-color: #606060;

}

table#tabelacard td.cd{

    background-color: #b1aeae;

}

footer{
    Font-family: fantasy;
    margin-top: 44px;
    background: rgb(250, 247, 56);
}


button{
  
  cursor: pointer;
}

button{
    display: inline-block;
  margin: 1.5em;
  border: 0;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #FFF;
  background: rgb(15, 15, 15);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  border-radius: 0.5em;
  box-shadow: 3px 3px 0 3px rgb(224, 202, 5);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  
}
